@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    display: flex;
    align-items: center;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 85%;
    min-width: 283px;
    padding: 55px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    background: url("components/background.png") no-repeat;
    background-position: 50%;
    background-size: contain;

}

.info>* {
    margin: 25px;
}

.info {
    width: 68%;
    margin-left: 2rem;
}

p {
    width: 53%;
    line-height: 1.4rem;
    font-size: .7rem;
}

i {
    font-size: 100px;
    margin: 15px;
}

button {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

.graphics {
    position: absolute;
    right: 140px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.graphic {
    width: 45%;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
}

h2 {
    text-align: center;
}


@media (max-width: 920px) {
    .container {
        background-image: none;
        display: block;
    }
    
    .info {
        width: 100%;
        margin: 0 auto;
    }
    
    .info>* {
        margin: 15px;
    }
    p {
        width: 75%;
    }
    
    i {
        font-size: 75px;
    }
    
    .graphics {
        position: inherit;
        width: 100%;
        margin: 15px auto;
    }
}
@media (max-width: 520px) {
    .graphics {
        justify-content: center;
    }
    .graphic {
        width: 70%;
        padding: 25px;
    }
}