@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


html {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contact-section {
    min-width: 250px;
    .container {
        border-radius: 5px;
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .info {
            h1 {
                font-size: 28px;
                font-weight: 700;
                color: #2e3033;
                margin-bottom: 5px;
            }

            p {
                font-size: 15px;
                color: #494c51;
                margin-bottom: 10px;
            }
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .part {
                width: 100%;
                display: flex;
                justify-content: space-between;
                
                input {
                    border: 2px solid black;
                    width: 45%;
                    margin-bottom: 20px;
                    padding: 10px;
                    border: 1px solid rgb(112, 112, 112);
                    border-radius: 5px;
                }
                #phone {
                    width: 100%;
                    padding-left: 40px;
                }

            }

            textarea {
                width: 100%;
                resize: none;
                padding: 10px;
                border-radius: 5px;
            }

            button {
                width: 90px;
                padding: 7px 10px;
                margin-top: 10px;
                background: rgb(189, 195, 30);
                background: linear-gradient(90deg, rgba(189, 195, 30, 1) 0%, rgba(255, 132, 0, 1) 100%);
                border: none;
                border-radius: 7px;
                color: #fff;
                cursor: pointer;
            }
        }
    }

}

@media (max-width: 520px) {

    .contact-section {
        .container {
            form {
                .part {
                    flex-direction: column;
                    input {
                        width: 100%;
                    }
            }
        }
    }

    }
}